<div class="row mt-2">
  <div class="col-md-12">
    
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">List of Tickets</div>
        <div class="panel-body">
        
        <!-- Table -->
        <table class="table table-hover table-borderless">
          <thead>
            <th>IT</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Solutions</th>
          </thead>
          <tbody>
            <tr *ngFor="let forum of forums;trackBy: tracking">
              <td>{{forum.technology}}</td>
              <td>{{forum.descriptionProbleme}}</td>
              <td>{{forum.priority}}</td>
              <td>{{forum.resolutionProbleme}}</td>
            </tr>
          </tbody>
        </table>

        </div>

    </div>
    
  </div>
</div>