<div class="row mt-2">
  <div class="col-md-12">
    
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">List of Tickets</div>
        <div class="panel-body">
        
        <!-- Table -->
        <table class="table table-hover table-borderless">
          <thead>
            <th>IT</th>
            <th>Description</th>
            <th>Details</th>
            <th>Satatus</th>
          </thead>
          <tbody>
            <tr *ngFor="let forum of forums;trackBy: tracking">
              <td>{{forum.technology}}</td>
              <td>{{forum.descriptionProbleme}}</td>
              <td>
                <a routerLink="/">
                    <span class="glyphicon glyphicon-tasks"></span>
                </a>
              </td>
              <td [ngSwitch]="forum.resolutionProbleme">
                <span *ngSwitchCase="null" class="glyphicon glyphicon-thumbs-down" style="color: red;"></span>
                <span *ngSwitchDefault class="glyphicon glyphicon-thumbs-up" style="color: green;"></span>
              </td>
            </tr>
          </tbody>
        </table>

        </div>

    </div>
    
  </div>
</div>